<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh">
  <h1><%= message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
</div>
